In [20]:
# Importando librerias (comentario bonito)

import requests
import pandas as pd
import matplotlib.pyplot as plt

Hola mundo

In [21]:
url = "https://api.covidtracking.com/v1/states/daily.json"
response = requests.get(url)
if response.status_code != 200:
    print("error")
data = response.json()
df = pd.DataFrame(data)

In [22]:
#mostramos las primeras 5 líneas del dataframe
df.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,None,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,None,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,None,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,None,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,None,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,

In [23]:
#ejecutamos el método .info para tener una visión general de las columnas, los datos y los tipos de datos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20780 entries, 0 to 20779
Data columns (total 56 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   date                         20780 non-null  int64
 1   state                        20780 non-null  object
 2   positive                     20592 non-null  float64
 3   probableCases                9271 non-null   float64
 4   negative                     13290 non-null  float64
 5   pending                      2138 non-null   float64
 6   totalTestResultsSource       20780 non-null  object
 7   totalTestResults             20614 non-null  float64
 8   hospitalizedCurrently        17339 non-null  float64
 9   hospitalizedCumulative       12382 non-null  float64
 10  inIcuCurrently               11636 non-null  float64
 11  inIcuCumulative              3789 non-null   float64
 12  onVentilatorCurrently        9126 non-null   float64
 13  onVentilatorCumulative       1290 non-null   float64
 14  recovered                    12003 non-null  float64
 15  lastUpdateEt                 20164 non-null  object
 16  dateModified                 20164 non-null  object
 17  checkTimeEt                  20164 non-null  object
 18  death                        19930 non-null  float64
 19  hospitalized                 12382 non-null  float64
 20  hospitalizedDischarged       3070 non-null   float64
 21  dateChecked                  20164 non-null  object
 22  totalTestsViral              14516 non-null  float64
 23  positiveTestsViral           8958 non-null   float64
 24  negativeTestsViral           5024 non-null   float64
 25  positiveCasesViral           14246 non-null  float64
 26  deathConfirmed               9422 non-null   float64
 27  deathProbable                7593 non-null   float64
 28  totalTestEncountersViral     5231 non-null   float64
 29  totalTestsPeopleViral        9197 non-null   float64
 30  totalTestsAntibody           4789 non-null   float64
 31  positiveTestsAntibody        3346 non-null   float64
 32  negativeTestsAntibody        1458 non-null   float64
 33  totalTestsPeopleAntibody     2200 non-null   float64
 34  positiveTestsPeopleAntibody  1094 non-null   float64
 35  negativeTestsPeopleAntibody  972 non-null    float64
 36  totalTestsPeopleAntigen      999 non-null    float64
 37  positiveTestsPeopleAntigen   633 non-null    float64
 38  totalTestsAntigen            3421 non-null   float64
 39  positiveTestsAntigen         2233 non-null   float64
 40  fips                         20780 non-null  object
 41  positiveIncrease             20780 non-null  int64
 42  negativeIncrease             20780 non-null  int64
 43  total                        20780 non-null  int64
 44  totalTestResultsIncrease     20780 non-null  int64
 45  posNeg                       20780 non-null  int64
 46  dataQualityGrade             0 non-null      object
 47  deathIncrease                20780 non-null  int64
 48  hospitalizedIncrease         20780 non-null  int64
 49  hash                         20780 non-null  object
 50  commercialScore              20780 non-null  int64
 51  negativeRegularScore         20780 non-null  int64
 52  negativeScore                20780 non-null  int64
 53  positiveScore                20780 non-null  int64
 54  score                        20780 non-null  int64
 55  grade                        20780 non-null  object
dtypes: float64(33), int64(13), object(10)
memory usage: 8.9+ MB

In [24]:
#cuantificamos la cantidad de datos nulos por cada columna (axis=0 indica que la suma debe realizarse a lo largo del eje vertical, es decir por columnas)
df.isnull().sum(axis = 0)

date                               0
state                              0
positive                         188
probableCases                  11509
negative                        7490
pending                        18642
totalTestResultsSource             0
totalTestResults                 166
hospitalizedCurrently           3441
hospitalizedCumulative          8398
inIcuCurrently                  9144
inIcuCumulative                16991
onVentilatorCurrently          11654
onVentilatorCumulative         19490
recovered                       8777
lastUpdateEt                     616
dateModified                     616
checkTimeEt                      616
death                            850
hospitalized                    8398
hospitalizedDischarged         17710
dateChecked                      616
totalTestsViral                 6264
positiveTestsViral             11822
negativeTestsViral             15756
positiveCasesViral              6534
deathConfirmed                 11358
deathProbable                  13187
totalTestEncountersViral       15549
totalTestsPeopleViral          11583
totalTestsAntibody             15991
positiveTestsAntibody          17434
negativeTestsAntibody          19322
totalTestsPeopleAntibody       18580
positiveTestsPeopleAntibody    19686
negativeTestsPeopleAntibody    19808
totalTestsPeopleAntigen        19781
positiveTestsPeopleAntigen     20147
totalTestsAntigen              17359
positiveTestsAntigen           18547
fips                               0
positiveIncrease                   0
negativeIncrease                   0
total                              0
totalTestResultsIncrease           0
posNeg                             0
dataQualityGrade               20780
deathIncrease                      0
hospitalizedIncrease               0
hash                               0
commercialScore                    0
negativeRegularScore               0
negativeScore                      0
positiveScore                      0
score                              0
grade                              0
dtype: int64

In [35]:
cat = ["date", "state"]
num = ["deathIncrease","hospitalizedIncrease","totalTestResults","hospitalizedCurrently","hospitalizedCumulative", "positive", "negative","probableCases"]
num_int = ["deathIncrease","hospitalizedIncrease"]
num_float = ["totalTestResults","hospitalizedCurrently","hospitalizedCumulative", "positive", "negative","probableCases"]

In [27]:
df[num].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20780 entries, 0 to 20779
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   deathIncrease           20780 non-null  int64
 1   hospitalizedIncrease    20780 non-null  int64
 2   totalTestResults        20614 non-null  float64
 3   hospitalizedCurrently   17339 non-null  float64
 4   hospitalizedCumulative  12382 non-null  float64
 5   positive                20592 non-null  float64
 6   negative                13290 non-null  float64
 7   probableCases           9271 non-null   float64
dtypes: float64(6), int64(2)
memory usage: 1.3 MB

In [37]:
df[num_int].describe()

       deathIncrease  hospitalizedIncrease
count   20780.000000          20780.000000
mean       24.790712             37.360780
std        60.162742            208.237151
min      -201.000000         -12257.000000
25%         0.000000              0.000000
50%         6.000000              0.000000
75%        24.000000             36.000000
max      2559.000000          16373.000000

In [38]:
df[num_float].describe()

,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,positive,negative,probableCases
count,2.061400e+04,17339.000000,12382.000000,2.059200e+04,1.329000e+04,9271.000000
mean,2.186936e+06,1190.576965,9262.762478,1.651560e+05,8.482246e+05,21729.123719
std,4.436508e+06,2060.041207,12620.544081,3.267852e+05,1.344501e+06,45471.459778
min,0.000000e+00,0.000000,1.000000,0.000000e+00,0.000000e+00,0.000000
25%,1.040498e+05,166.500000,985.250000,5.753750e+03,5.394125e+04,773.500000
50%,6.552670e+05,531.000000,4472.000000,4.606450e+04,3.059720e+05,4491.000000
75%,2.264766e+06,1279.000000,12248.500000,1.779580e+05,1.056611e+06,19553.000000
max,4.964601e+07,22851.000000,82237.000000,3.501394e+06,1.018694e+07,365961.000000

In [28]:
df[cat].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20780 entries, 0 to 20779
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    20780 non-null  int64
 1   state   20780 non-null  object
dtypes: int64(1), object(1)
memory usage: 324.8+ KB

In [40]:
for col in cat:
    print(f"Column name: {col}")
    print(df[col].value_counts())
    print()

Column name: date
date
20210307    56
20200726    56
20200706    56
20200707    56
20200708    56
            ..
20200117     1
20200116     1
20200115     1
20200114     1
20200113     1
Name: count, Length: 420, dtype: int64

Column name: state
state
WA    420
MA    411
VA    406
FL    404
NJ    392
NE    387
IN    375
CT    373
MI    372
RI    372
WY    372
NY    371
TX    370
WI    370
PA    370
VT    370
GA    369
AZ    369
NC    369
OR    369
IL    369
CA    369
SC    369
CO    369
NH    369
HI    369
TN    368
OH    368
DC    368
NV    368
NM    368
MD    368
WV    367
AK    367
KY    367
AR    367
DE    367
IA    367
MN    367
KS    367
ND    366
UT    366
ID    366
MT    366
SD    366
LA    366
ME    366
OK    366
MO    366
AL    366
MS    366
PR    357
VI    357
GU    357
MP    357
AS    357
Name: count, dtype: int64

que locura :D